<h1 class="text-center">
  <%= singular_table_name.titleize %> - <%%= @<%= singular_table_name %>.to_title %>
</h1>

<div class="text-center">
  <%%= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>) %> |
  <%%= link_to 'Back', <%= index_helper %>_path %>
</div>

<div class="row">
  <div class="small-10 small-offset-1
    medium-8 medium-offset-2
    large-6 large-offset-3 columns">
<% attributes.reject(&:password_digest?).each do |attribute| -%>
    <p>
      <strong><%= attribute.human_name %>:</strong>
      <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
    </p>
<% end -%>
  </div>
</div>

